.show-for-small{
  margin-top: 15px;
}

.website-button{
  margin-right: 10px;
}

.button-activities, .button-activities:hover {
  background-color: rgba(138, 163, 38, 0.6);
  color: black;
  font-weight: bold;
}
