#icon-header{
  border-radius: 22px;
  background: white;
  left: 9px;
  padding-right: 3px;
  position: absolute;
  top: 7px;
  width: 100px;
}

@font-face {
  font-family: 'titleFont';
  src: url('AnjaEliane.ttf');
}
