<div class="row" style="margin-top:25%">
  <div class="large-12 columns">
    <% @categories.order('name ASC').each do |category|%>
      <div class="large-4 small-4 columns" style="text-align: center; margin-bottom: 25px">
        <%= link_to image_tag(category.url, class:'category', style:'position:relative; min-width:80px; max-width: 130px; width: 70%; border-radius: 100px; padding: 5px; box-shadow: 2px 2px 3px rgb(172, 172, 172); background: rgba(255,255,255,0.8);'), category_path(category), class:"animated rotateIn", style:"width:100%;" %>
        <div style="margin: 10px 0">
          <%= link_to category.name, category_path(category), class:'', style:'width: 140px; border-radius: 60px; font-size: 0.8em; padding: 3px 9px; background: white'  %> </h3>
      </div>
    </div>
  <%end%>
</div>

<style>

</style>
