
<div class="row">
  <div class="large-12 columns" style="text-align:center;position:fixed;z-index:100;top:3px;left:0;right:0">
    <h1 style="font-family: titleFont;color: white; letter-spacing: 3px; font-size: 25px">dis<span class="animated zoomInLeft" style="-webkit-animation-duration: 1.5s; color:rgba(255,0,0,0.8); font-weight:bold">C</span>ove<span class="animated zoomInRight" style="font-weight: bold;color:rgba(0, 0, 255,0.8);-webkit-animation-duration: 1.5s;">R</span></h1>
  </div>
</div>
<div class="row" style="margin-top:25%">
  <div class="large-12 columns">
    <% @categories.order('name ASC').each do |category|%>
      <div class="large-4 small-4 columns" style="text-align: center; margin-bottom: 25px">
        <%= link_to image_tag(category.url, class:'category', style:'position:relative; width: 100px; border-radius: 10px; border: 2px solid; padding: 5px; box-shadow: 2px 2px 3px rgb(172, 172, 172); background: white'), category_path(category), class:"animated rotateIn", style:"width:100%;" %>
        <div style="margin: 10px 0">
        <%= link_to category.name, category_path(category), class:'', style:'width: 140px; border-radius: 60px; font-size: 0.9em'  %> </h3>
      </div>
      </div>
    <%end%>
  </div>

<!--
  <div id="side-bar" class="small-2 columns">

    <ul class="side-nav">
      <li><a  class="link_side_bar" href="#">About Costa Rica</a></li>
      <li><a class="link_side_bar" href="#">Tips for travelers</a></li>
      <li><a class="link_side_bar" href="#">Main events</a></li>
      <li><a class="link_side_bar" href="#">Gallery</a></li>
    </ul>

    <p><%#= image_tag "costa_rica_small.jpg" %></p>

  </div>
</div>
<div id="bottom-bar"class="row">
  <div class="small-12 large-6 columns">
    <ul class="side-nav">
      <li><a  class="link_side_bar" href="#">About Costa Rica</a></li>
      <li><a class="link_side_bar" href="#">Tips for travelers</a></li>
      <li><a class="link_side_bar" href="#">Main events</a></li>
      <li><a class="link_side_bar" href="#">Gallery</a></li>
    </ul>

    <p><%#= image_tag "costa_rica_small.jpg" %></p>
  </div>
</div>
-->

<script>
  $(document).ready(function(){
  $(this).find('.category').on('mouseover',function(){
  $(this).animate({'top':'-10px'}, 'fast');
  }).on('mouseleave',function(){
  $(this).animate({'top':'0px'}, 'fast');
  });
  });
</script>
