<% if !@activities.empty? %>
  <div class="large-8-centered columns" style ="margin-top:50px">
    <% @activities.each do |activity| %>
      <div class="row">
        <%= link_to(activity_path(activity.id)) do %>
          <div class="small-12 columns panel" style="box-shadow: 5px 5px 25px rgb(121, 121, 121); padding-right: 0px; padding-left: 0px; margin-bottom: 15px;">
            <div class="small-4 columns">
              <% if !activity.img_url.present? %>
                <img src='http://placehold.it/1000x1000&text=Thumbnail'/>
              <%else%>
                <%= image_tag(activity.img_url, style:"solid;box-shadow: 2px 2px 3px #ACACAC;") %>
              <%end%>
            </div>
            <div class="small-8 columns">
              <h5 style="font-size: 0.8em"><%= activity.name.truncate(100) %></h5>
              <h5 style="font-size: 0.8em">Horario: L-V 8:00am - 5:00pm</h5>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
<%end%>

<%= link_to "Back", root_path, class: "small radius button back button-activities" %>
